nav li a {
    color:white;
    text-decoration: none;
    margin-left:20px;
    font-size:20px;
}

nav h1 {
    color:white;
    margin-left:10px;
}

nav ul {
    display:flex;
    margin:10px;
}

nav ul li {
    list-style: none;
}